<main>
	<section class="collection-intro section-padding">
		<div class="container">
			<div class="p-5 mb-4 bg-light rounded-3">
				<div class="container-fluid py-5 text-center">
					<h1 class="display-5 fw-bold">Blog page</h1>
					<p class="col-md-8 fs-6 mx-auto">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
				</div>
			</div>
		</div><!-- /.container -->
	</section><!-- /.collection-intro -->
	<section class="section-blog-list">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6">
					<div class="card blog-article shadow p-3 mb-4">
						<div class="row">
							<div class="col-12">
								<div class="featured-image-wrapper">
									<div class="featured-image">
										<img src="slide1.jpg" alt="">
									</div><!-- /.featured-image -->
								</div><!-- /.featured-image-wrapper -->
							</div><!-- /.col -->
							<div class="col-12">
								<a href="#0" class="d-block mb-3">
									<h2>The title of the post!</h2>
								</a>
								<p class="col-md-8 fs-6">By <a href="#0"><strong>Justin Bieber</strong></a> | Published on <em>Feb
										2021,2021</em></p>
								<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis quod eligendi dicta, blanditiis iste
									saepe minus praesentium in laudantium molestiae modi. Architecto omnis enim aspernatur quod
									reprehenderit quae dolore tempora!</p>
								<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis quod eligendi dicta, blanditiis iste
									saepe minus praesentium in laudantium molestiae modi. Architecto omnis enim aspernatur quod
									reprehenderit quae dolore tempora!</p>
								<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis quod eligendi dicta, blanditiis iste
									saepe minus praesentium in laudantium molestiae modi. Architecto omnis enim aspernatur quod
									reprehenderit quae dolore tempora!</p>
								<a href="#0" class="btn btn-outline-primary">Read More ></a>
							</div>
						</div><!-- /.row -->
					</div><!-- /.card -->
				</div>
				<div class="col-12 col-md-6">
					<div class="card blog-article shadow p-3 mb-4">
						<div class="row">
							<div class="col-12">
								<div class="featured-image-wrapper">
									<div class="featured-image">
										<img src="slide1.jpg" alt="">
									</div><!-- /.featured-image -->
								</div><!-- /.featured-image-wrapper -->
							</div><!-- /.col -->
							<div class="col-12">
								<a href="#0" class="d-block mb-3">
									<h2>The title of the post!</h2>
								</a>
								<p class="col-md-8 fs-6">By <a href="#0"><strong>Justin Bieber</strong></a> | Published on <em>Feb
										2021,2021</em></p>
								<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis quod eligendi dicta, blanditiis iste
									saepe minus praesentium in laudantium molestiae modi. Architecto omnis enim aspernatur quod
									reprehenderit quae dolore tempora!</p>
								<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis quod eligendi dicta, blanditiis iste
									saepe minus praesentium in laudantium molestiae modi. Architecto omnis enim aspernatur quod
									reprehenderit quae dolore tempora!</p>
								<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis quod eligendi dicta, blanditiis iste
									saepe minus praesentium in laudantium molestiae modi. Architecto omnis enim aspernatur quod
									reprehenderit quae dolore tempora!</p>
								<a href="#0" class="btn btn-outline-primary">Read More ></a>
							</div>
						</div><!-- /.row -->
					</div><!-- /.card -->
				</div>
			</div>
			<div class="card blog-article shadow p-3 mb-4">
				<div class="row">
					<div class="col-12 col-sm-3">
						<div class="featured-image-wrapper">
							<div class="featured-image">
								<img src="slide1.jpg" alt="">
							</div><!-- /.featured-image -->
						</div><!-- /.featured-image-wrapper -->
					</div><!-- /.col -->
					<div class="col-12 col-sm-9">
						<a href="#0" class="d-block mb-3">
							<h2>The title of the post!</h2>
						</a>
						<p class="col-md-8 fs-6">By <a href="#0"><strong>Justin Bieber</strong></a> | Published on <em>Feb 2021,2021</em></p>
						<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis quod eligendi dicta, blanditiis iste saepe minus praesentium in laudantium molestiae modi. Architecto omnis enim aspernatur quod reprehenderit quae dolore tempora!</p>
						<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis quod eligendi dicta, blanditiis iste saepe minus praesentium in laudantium molestiae modi. Architecto omnis enim aspernatur quod reprehenderit quae dolore tempora!</p>
						<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis quod eligendi dicta, blanditiis iste saepe minus praesentium in laudantium molestiae modi. Architecto omnis enim aspernatur quod reprehenderit quae dolore tempora!</p>
						<a href="#0" class="btn btn-outline-primary">Read More ></a>
					</div>
				</div><!-- /.row -->
			</div><!-- /.card -->
			<div class="card blog-article shadow p-3 mb-4">
				<div class="row">
					<div class="col-12 col-sm-3">
						<div class="featured-image-wrapper">
							<div class="featured-image">
								<img src="slide1.jpg" alt="">
							</div><!-- /.featured-image -->
						</div><!-- /.featured-image-wrapper -->
					</div><!-- /.col -->
					<div class="col-12 col-sm-9">
						<a href="#0" class="d-block mb-3">
							<h2>The title of the post!</h2>
						</a>
						<p class="col-md-8 fs-6">By <a href="#0"><strong>Justin Bieber</strong></a> | Published on <em>Feb
								2021,2021</em></p>
						<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis quod eligendi dicta, blanditiis iste
							saepe minus praesentium in laudantium molestiae modi. Architecto omnis enim aspernatur quod
							reprehenderit quae dolore tempora!</p>
						<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis quod eligendi dicta, blanditiis iste
							saepe minus praesentium in laudantium molestiae modi. Architecto omnis enim aspernatur quod
							reprehenderit quae dolore tempora!</p>
						<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis quod eligendi dicta, blanditiis iste
							saepe minus praesentium in laudantium molestiae modi. Architecto omnis enim aspernatur quod
							reprehenderit quae dolore tempora!</p>
						<a href="#0" class="btn btn-outline-primary">Read More ></a>
					</div>
				</div><!-- /.row -->
			</div><!-- /.card -->
			
			
			<div class="blog-pagination d-flex justify-content-center mt-5">
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item"><a class="page-link" href="#">Previous</a></li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">Next</a></li>
					</ul><!-- /.pagination -->
				</nav><!-- /nav -->
			</div><!-- /.collection-pagination -->
		</div><!-- /.container -->
	</section><!-- /.section-blog-list -->
</main><!-- /MAIN -->
