{% style %}
.section-padding {
	padding: 40px 0;
}
{% endstyle %}

<section class="cart-details section-padding">
	<div class="container">
		<div class="row">
			<div class="col-auto ms-auto">
				<div class="product-ctas">
					<p class="fs-5">Total amount: <span class="fs-4"><strong>$800.00</strong></span></p>
					<button class="btn btn-outline-success w-100 mt-1">Update</button>
					<button class="btn btn-primary w-100 mt-1">Checkout</button>
				</div><!-- /.product-ctas -->
			</div><!-- /.col-12 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.product-details -->