<div class="container">
	<div class="social-media-wrapper">
		{% for block in section.blocks %}
			{% case block.type %}
				{% when 'social_media_icon' %}
					<a href="{{ block.settings.icon_url }}" title="{{ block.settings.link_text }}" target="{% if block.settings.open_link_in_new_tab == true %}{{ '_blank' }}{% endif %}">
						{{ block.settings.svg_code }}
					</a><!-- /a -->
			{% endcase %}
		{% endfor %}
	</div><!-- /.social-media-wrapper -->
</div><!-- /.container -->
{% schema %}
{
	"name": "Social Media Section",
	"tag": "section",
	"class": "section-social-media section-padding",
	"blocks": [
		{
			"name": "Social Media Icon",
			"type": "social_media_icon",
			"settings": [
				{
					"type": "url",
					"id": "icon_url",
					"label": "URL"
				},
				{
					"type": "text",
					"id": "link_text",
					"label": "Link Text"
				},
				{
					"type": "checkbox",
					"id": "open_link_in_new_tab",
					"label": "Open link in a new tab?"
				},
				{
					"type": "textarea",
					"id": "svg_code",
					"label": "SVG Icon Code"
				}
			]
		}
	]
}
{% endschema %}