<div class="container">
	<div class="section-title badge bg-danger">
		<h3 class="display-6">Frequently Asked Questions</h3>
	</div><!-- /.section-title -->
	<div class="row">
		<div class="col-12 col-sm-6 col-md-4">
			<a href="#0">
				<div class="question">
					{{ 'apple-watch-se-1.jpg' | asset_url | img_tag: '' }}
				</div><!-- /.question -->
			</a><!-- /a -->
		</div><!-- /.col -->
		<div class="col-12 col-sm-6 col-md-4">
			<div class="question">
				{{ 'apple-watch-se-1.jpg' | asset_url | img_tag: '' }}
			</div><!-- /.question -->
		</div><!-- /.col -->
		<div class="col-12 col-sm-6 col-md-4">
			<div class="question">
				{{ 'apple-watch-se-1.jpg' | asset_url | img_tag: '' }}
			</div><!-- /.question -->
		</div><!-- /.col -->
	</div><!-- /.row -->
</div><!-- /.container -->
