<section class="section-custom-slider">
	<div class="container">
		<div class="custom-slider-wrapper">
			<div class="custom-slider">
				{% for block in section.blocks %}
					{% case block.type %}
						{% when "slide" %}
							<div class="item">
								<div class="slider-item">
									{{ block.settings.image | img_url: 'master' | img_tag: '' }}
									<div class="slider-item__content">
										<h5>{{ block.settings.slide_title }}</h5>
										<p>{{ block.settings.slide_description }}</p>
									</div><!-- /.slider-item__content -->
								</div><!-- /.slider-item -->
							</div><!-- /.item -->
					{% endcase %}
				{% endfor %}
			</div><!-- /.custom-slider -->
			{% if section.settings.show_indicators == true %}
				<div class="custom-slider__indicators"></div><!-- /.custom-slider-indicators -->
			{% endif %}
			{% if section.settings.show_arrows == true %}
				<div class="custom-slider__arrows"></div><!-- /.custom-slider-arrows -->
			{% endif %}
		</div><!-- /.custom-slider-wrapper -->
	</div><!-- /.container -->
</section><!-- /.section-custom-slider -->

{% schema %}
{
	"name": "Homepage Featured Slider",
	"tag": "section",
	"class": "homepage-featured-slider",
	"max_blocks": 3,
	"settings": [
		{
			"type": "checkbox",
			"id": "show_arrows",
			"label": "Show Arrows"
		},
		{
			"type": "checkbox",
			"id": "show_indicators",
			"label": "Show Indicators"
		}
	],
	"blocks": [
		{
			"name": "Slide",
		"type": "slide",
		"settings": [
			{
				"type": "image_picker",
				"id": "image",
				"label": "Image"
			},
			{
				"type": "text",
				"id": "slide_title",
				"label": "Slide Title"
			},
			{
				"type": "richtext",
				"id": "slide_description",
				"label": "Slide Description"
			}
		]
		}
	]
}
{% endschema %}