<section id="section-404">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="display-1">404 Hello</h1>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /#section-404 -->













<div class="template-404 page-width page-margin center d-none">
	<p>
		{{ 'templates.404.subtext' | t }}
	</p>
	<h1 class="title">
		{{ 'templates.404.title' | t }}
	</h1>
	<a href="{{ routes.all_products_collection_url }}" class="button">
		{{ 'general.continue_shopping' | t }}
	</a>
</div>
